@page "/machineoverview"


<AddMachine></AddMachine>
@*4.1 This component is a CHILD and will need a callback to add to the Parent Overview.*@


<h1 class="page-title">Machine Overview</h1>

@if (machineList.Machines == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Employee ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var machine in machineList.Machines)
            {
                <tr>
                    <td><img src= # class="rounded-circle" /></td>
                    <td>@machine.MachineId</td>
                    <td>@machine.Name</td>
                    <td>@machine.Status</td>
                    <td>@machine.Log</td>
                    <td>
                        <a href="@($"mechinedetail/{machine.MachineId}")" class="btn btn-primary table-btn">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code{
    // 4.5 https://icon-sets.iconify.design/oi/laptop/ Todo for some more icons to use.

    private MachineList machineList = new MachineList();

    protected override async Task OnInitializedAsync()
    {
        machineList = await httpClient.GetFromJsonAsync<MachineList>("api/machines");
    }


}